<a href="https://itunes.apple.com/app/id1006844761" class="btn btn-primary btn-icon btn-xl" onclick="trackOutboundLink('https://itunes.apple.com/app/id1006844761'); return false;">
<i class="fa fa-apple fa-lg"></i>
&nbsp&nbsp
{% if page.lang == "fr" %}
	Télécharger sur l'App Store
{% elsif page.lang == "en" %}
	Download on the App Store
{% endif %}
</a>
<!-- <p class="button-helper">
{% if page.lang == "fr" %}
	Disponible sur invitation pour iPhone
{% elsif page.lang == "en" %}
	Currently available on iPhone with an invitation
{% endif %}
</p> -->