<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nous contacter</h2>
                <hr class="primary">
                
					{% if page.lang == "fr" %}
                        <p>
                            <a href="mailto:contact@appbubble.co">contact@appbubble.co</a>
                        </p>
					{% elsif page.lang == "en" %}
						Copy for contact here
					{% endif %}
            </div>
        </div>
    </div>
</section>
