<section id="features" class="container">
	<article class="row features-row">
		<div id="agenda" class="col-sm-6">
			<img src="/img/Image.png" />
		</div>
		<div class="col-sm-6">
			<h3>Track new releases you're interested in</h3>
		</div>
	</article>
	<article class="row features-row">
		<div id="collection" class="col-sm-6">
			<img src="/img/Image.png" />
		</div>
		<div class="col-sm-6">
			<h3>Track your completed &amp; uncompleted series</h3>
		</div>
	</article>
	<article class="row features-row">
		<div id="database" class="col-sm-6">
			<img src="/img/Image.png" />
		</div>
		<div class="col-sm-6">
			<h3>A database of more than 20,000 records, checked by our team.</h3>
		</div>
	</article>
</section>