<section id="features" class="container">
	<div class="row">
		<article id="agenda" class="features-row col-md-12">
			<img src="/img/agenda.png" />
			<div class="features-text">
				<h3>Ne ratez plus les sorties qui vous intéressent</h3>
			</div>
		</article>
		<article id="collection" class="features-row col-md-12">
			<img src="/img/collection.png" />
			<div class="features-text">
				<h3>Retrouvez facilement toutes vos séries complètes ET incomplètes</h3>
			</div>
		</article>
		<article id="database" class="features-row col-md-12">
			<img src="/img/search.png" />
			<div class="features-text">
				<h3>Un catalogue de 20 000 références, vérifié par notre équipe</h3>
			</div>
		</article>
	</div>
</section>
