<footer class="site-footer">
	<ul class="links">
		<li>
		{% if page.lang == "fr" %}
			<a href="/">Accueil</a>
		{% elsif page.lang == "en" %}
			<a href="/en">Home</a>
		{% endif %}
		</li>
		<li>
		{% if page.lang == "fr" %}
			<a href="/a-propos">A propos</a>
		{% elsif page.lang == "en" %}
			<a href="/about">About</a>
		{% endif %}
		</li>
		<li><a href="https://medium.com/le-sélection-bubble-de-la-semaine">Blog</a></li>
	</ul>
	<div class="mixpanel-badge-container">
		<div class="mixpanel-badge">
			<a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
		</div>
	</div>
</footer>
