<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Finding new comic books shouldn't be so hard</h1>
            <p class="sub-tagline">Bubble helps comic book lovers to keep track of their collection and discover new issues</p>
            <p class="button-helper">Currently available upon invitation on iPhone</p>
            <button href="https://appbubble.typeform.com/to/aXWdPr" class="btn btn-primary btn-xl">Request an invitation</button>
        </div>
    </div>
</header>
