<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Trouver de nouvelles BDs ne devrait pas être aussi compliqué</h1>
            <p class="sub-tagline">Bubble aide les lecteurs de BDs à savoir ce qu’ils ont et à être informés des nouveautés.</p>
            <button href="https://appbubble.typeform.com/to/aXWdPr" class="btn btn-primary btn-xl">Recevoir une invitation</button>
            <p class="button-helper">Disponible sur invitation pour iPhone</p>
        </div>
    </div>
</header>
