<section id="team" class="container">
	<div class="row">
		<article id="" class="features-row col-md-8 col-md-offset-2">
			<h2>
			{% if page.lang == "fr" %}
				Equipe
			{% elsif page.lang == "en" %}
				Team
			{% endif %}
			</h2>
			<img src="/img/nico.jpg" />
			<div class="features-text">
				<h3>Nicolas Dévé</h3>
				<h4>
				{% if page.lang == "fr" %}
					Business development, legal & financing
				{% elsif page.lang == "en" %}
					Business development, legal & financing
				{% endif %}
				</h4>
				<p>
				{% if page.lang == "fr" %}
					L'entreprenariat c'est créer des choses quasiment ex-nihilo. Créer un produit, faire naître une équipe, une vision, une culture, et tout ça à partir de rien ! C'est ça qui me fait vibrer. Entrepreneur pour la seconde fois, j’ai occupé des postes marketing & business dans des startup tech pendant 8 ans. Je suis obsédé par l’optimisation du temps et l’éfficacité. Je lis des BDs depuis que je suis tout petit et je souhaite que Bubble devienne un des acteurs majeurs de la modernisation du monde fantastique des bande dessinées.
				{% elsif page.lang == "en" %}
					Je trouve cela assez cosmique de créer un produit, de faire naître une équipe et une culture, et tout ça à partir de rien ! C’est une des choses qui me fait le plus vibrer. Entrepreneur pour la seconde fois, j’ai occupé des postes marketing & business dans des startup tech depuis que je travaille. Je suis obsédé par l’optimisation du temps et l’éfficacité. Je lis des BDs depuis que je suis tout petit et je souhaite que Bubble soit un des acteurs qui participe activement à la modernisation du monde fantastique des bande dessinées.
				{% endif %}
				</p> 
			</div>
		</article>
		<article id="" class="features-row col-md-8 col-md-offset-2">
			<img src="/img/benoit.jpg" />
			<div class="features-text">
				<h3>Benoit Vallon</h3>
				<h4>
				{% if page.lang == "fr" %}
					Full-stack web engineering
				{% elsif page.lang == "en" %}
					Full-stack web engineering
				{% endif %}
				</h4>
				<p>
				{% if page.lang == "fr" %}
					Lover of JavaScript and all new technologies #reactjs, #docker #machinelearning. I like to create real products that help people.
				{% elsif page.lang == "en" %}
					Lover of JavaScript and all new technologies #reactjs, #docker #machinelearning. I like to create real products that help people.
				{% endif %}
				</p>
			</div>
		</article>
		<article id="" class="features-row col-md-8 col-md-offset-2">
			<img src="/img/flo.jpg" />
			<div class="features-text">
				<h3>Florent Piétot</h3>
				<h4>
				{% if page.lang == "fr" %}
				Product design & iOS engineering
				{% elsif page.lang == "en" %}
				Product design & iOS engineering
				{% endif %}
				</h4>
				<p>
				{% if page.lang == "fr" %}
					I’ve been working in tech for the past 5 years, specializing in startups and mobile. Jack-of-all trades I have strong experience in business, design & programming. Avid reader and podcast listener.
				{% elsif page.lang == "en" %}
					I’ve been working in tech for the past 5 years, specializing in startups and mobile. Jack-of-all trades I have strong experience in business, design & programming. Avid reader and podcast listener.
				{% endif %}
				</p>
			</div>
		</article>
	</div>
</section>