<section id="team" class="container">
	<div class="row">
		<article id="" class="features-row col-md-12">
			<img src="/img/agenda.png" />
			<div class="features-text">
				<h3>Nicolas Dévé</h3>
				<h4>Business development, legal & financing</h4>
				<p>
				{% if page.lang == "fr" %}
					Je trouve cela assez cosmique de créer un produit, de faire naître une équipe et une culture, et tout ça à partir de rien ! C’est une des choses qui me fait le plus vibrer. Entrepreneur pour la seconde fois, j’ai occupé des postes marketing & business dans des startup tech depuis que je travaille. Je suis obsédé par l’optimisation du temps et l’éfficacité. Je lis des BDs depuis que je suis tout petit et je souhaite que Bubble soit un des acteurs qui participe activement à la modernisation du monde fantastique des bande dessinées.
				{% elsif page.lang == "en" %}
					Je trouve cela assez cosmique de créer un produit, de faire naître une équipe et une culture, et tout ça à partir de rien ! C’est une des choses qui me fait le plus vibrer. Entrepreneur pour la seconde fois, j’ai occupé des postes marketing & business dans des startup tech depuis que je travaille. Je suis obsédé par l’optimisation du temps et l’éfficacité. Je lis des BDs depuis que je suis tout petit et je souhaite que Bubble soit un des acteurs qui participe activement à la modernisation du monde fantastique des bande dessinées.
				{% endif %}
				</p> 
			</div>
		</article>
		<article id="" class="features-row col-md-12">
			<img src="/img/collection.png" />
			<div class="features-text">
				<h3>Benoit Vallon</h3>
				<h4>Full-stack web engineering</h4>
				<p>
				{% if page.lang == "fr" %}
					Lover of JavaScript and all new technologies #reactjs, #docker #machinelearning. I like to create real products that help people.
				{% elsif page.lang == "en" %}
					Lover of JavaScript and all new technologies #reactjs, #docker #machinelearning. I like to create real products that help people.
				{% endif %}
				</p>
			</div>
		</article>
		<article id="" class="features-row col-md-12">
			<img src="/img/search.png" />
			<div class="features-text">
				<h3>Florent Piétot</h3>
				<h4>Product design & iOS engineering</h4>
				<p>
				{% if page.lang == "fr" %}
					Pirate ninja jedi wizard with incredible super powers that he uses to make the world a better place. He won’t start reading comic books until there is one with his name. In love with the startup bullshit.
				{% elsif page.lang == "en" %}
					Pirate ninja jedi wizard with incredible super powers that he uses to make the world a better place. He won’t start reading comic books until there is one with his name. In love with the startup bullshit.
				{% endif %}
				</p>
			</div>
		</article>
	</div>
</section>