<section id="vision" class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Vision</h2>
			<p>Ouvrir une nouvelle bande dessinée est un moment unique : Ecouter le craquement de la couverture qui se déplie, humer l’odeur des pages, se plonger dans un nouveau récit et être subjugué par une planche, par un dessin, c’est ça qu’on veut et c’est ça qu’on aime.</p>
			<p>5000 nouvelles BDs, Mangas et Comics sortent chaque année en France, c'est 4 fois plus qu'il y a 15 ans. Quel choix ! C’est génial mais... c'est aussi compliqué de s'y retrouver : On ne sait plus où on est et surtout on passe à côté de BDs incroyables.</p>
			<p>C’est pour ces raisons que nous avons créé Bubble : la meilleure solution jamais conçue pour gérer vos BDs. Nos priorités ? Vous faire gagner du temps et vous permettre de savoir où vous en êtes, où que vous soyez.  Vous prévenir des nouvelles sorties et vous faire découvrir des BDs qui vous font vibrer.</p>
		</div>
	</div>
</section>