html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include sans-serif-font;
    font-size: 16px;
    margin: 0;
    // @include background-gradient($orange-light, $orange-dark);
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

h1 {
    font-size: 2.3125em;
    // font-size: 3.12900721em;
}

h3 {
    font-size: 1.3333333em;
}

#team h2 {
    margin-bottom: 2em;
}

.bg-primary {
    // background-color: $theme-primary;
}

.bg-dark {
    // background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 60px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Homepage Header

header {
    // position: relative;
    width: 100%;
    min-height: auto;
    @include background-gradient($orange-light, $orange-dark);
    text-align: center;
    .header-content {
        padding: 10px;
        text-align: center;
        padding: 20% 15px 20%;
        .header-content-inner {
            color: white;
            h1 {
                font-weight: normal;
                margin-top: 0;
                margin-bottom: 1em;
            }
            hr {
                margin: 30px auto;
            }
            p.sub-tagline {
                font-size: 1.33333em;
                font-weight: lighter;
                margin-bottom:4em;
            }
            p.button-helper {
                padding-top: 0.4em;
                font-size: 1em;
                font-weight: lighter;
                font-style: italic;
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.mixpanel-badge-container {
  display: table;
  width: 100%;
  text-align: right;
  padding: 10px;
  background-color: #cdcdcd;
}
.mixpanel-badge {
  display: table-cell;
  vertical-align: middle;
}
.about-page {
  #missing-isbn {
    display: none;
  }
  #manual-addition {
    display: none;
  }
  #added-requested-EAN {
    display: none;
  }
  #error-server {
    display: none;
  }
  #found-in-our-database {
    display: none;
  }
  #not-processed-yet {
    display: none;
  }
  #has-been-rejected {
    display: none;
  }
  .message-container {
    margin: 20px 0;
  }
  .error-container {
    display: none;
    color: #a94442;
  }
  .validation-container {
    display: none;
    color: #3c763d;
  }
  .mailto {
    color: #FF5334;
  }

  h3 {
    color: #FF5334;
  }
  .btn {
    background-color: #FF5334;
    color: white;
    border: none;
    &:hover {
      background-color: #EA3818;
      color: white;
    }
    &:active, &:focus {
      background-color: #FF5334;
      color: white;
    }
  }
  .back-to-form {
    display: inline-block;
    margin: 20px 0;
  }
  .back-to-form-without-text {
    display: inline-block;
    margin: 20px 0;
  }
}
