html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include sans-serif-font;
    font-size: 16px;
    margin: 0;
    // @include background-gradient($orange-light, $orange-dark);
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.bg-primary {
    // background-color: $theme-primary;
}

.bg-dark {
    // background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 60px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Homepage Header

header {
    // position: relative;
    width: 100%;
    min-height: auto;
    @include background-gradient($orange-light, $orange-dark);
    text-align: center;
    .header-content {
        // position: relative;
        text-align: center;
        padding: 20% 15px 20%;
        // width: 100%;
        .header-content-inner {
            color: white;
            h1 {
                font-size: 2.3125em;
                font-weight: normal;
                margin-top: 0;
                margin-bottom: 1em;
            }
            hr {
                margin: 30px auto;
            }
            p.sub-tagline {
                font-size: 1.33333em;
                font-weight: lighter;
                margin-bottom:4em;
            }
            p.button-helper {
                font-size: 1em;
                font-weight: lighter;
                font-style: italic;
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, $theme-dark);
}

.btn-primary {
    @include button-variant(white, $green-primary, $green-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    font-size: 1.333333em;
}

.btn-xl {
    padding: 15px 30px;
}

/* Features */

.features-row {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    img {
        display: block;
        margin: 0 auto;
    }
    h2 {
        font-weight: lighter;
    }
}

@media (min-width: 62em) {
    .features-row {
        text-align: left;
    }
}

/* Footer */

footer {
    background-color: #D8D8D8;
    text-align: center;
    .links {
        padding: 1em 0;
        // display: inline;
        margin: 0;
        list-style: none;
        li {
            display: inline;
            margin-left: 5px;
            margin-right: 5px;
            a {
                padding: 5px 10px;
            }
        }
    }
}
