// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, $theme-dark);
}

.btn-primary {
    @include button-variant($orange-dark, white, white);
}

.btn {
    @include sans-serif-font;
    // border: none;
    font-size: 1.333333em;
    // box-shadow: 0px 1px 2px 2px rgba(black, 0.1);
    max-width: 100%;
}

.btn-xl {
    padding: 15px 30px;
}

/* Features */

.features-row {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    img {
        display: block;
        margin: 0 auto;
        // max-width: 300px;
        width: 300px;
        max-width: 100%;
    }
    h3 {
        font-weight: lighter;
        margin-top: 2em;
        line-height: 1.2em;
    }
    .rounded {
      border-radius: 150px;
    }
}

#vision {
    text-align: center;
}

/* Footer */

footer {
    background-color: #D8D8D8;
    text-align: center;
    .links {
        padding: 1em 0;
        // display: inline;
        margin: 0;
        list-style: none;
        li {
            display: inline;
            margin-left: 5px;
            margin-right: 5px;
            a {
                padding: 5px 10px;
            }
        }
    }
}