<!DOCTYPE html>
  {% if page.lang == "fr" %}
	<html lang="fr">
	{% elsif page.lang == "en" %}
	<html lang="en">
	{% else %}
	<html>
	{% endif %}

{% include head.html %}

<body id="page-top">
	{% include header.html %}

	{% if page.page == "home" %}
		{% include features.html %}
	{% endif %}
	{% if page.page == "about" %}
		{% include vision.html %}
		{% include team.html %}
	{% endif %}

	<div class="container">
	{{ content }}
	</div>

  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>